<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mekaro Music Downloader</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Mekaro Music Downloader</h1>
        <input type="text" id="url" placeholder="Insira o link do YouTube">
        <button onclick="downloadMusic()">Download</button>
        <div id="status"></div>
        <ul id="library"></ul>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>
